@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,700&display=swap');

.Menu {
    background-color: #192A36;
    padding: 25px;
    height: 100vh;
    width: 100vw;
}

.menuButton {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #3b4f57;
    border-color: #171f22;
    color: #dddddd;
    padding: 25px;
    margin-right: 10px;
}